asgiref
async-timeout
attrs
autobahn
automat
certifi
cffi
channels
channels-redis
click
cloudinary
constantly
cryptography
daphne
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
h11
hyperlink
idna
incremental
iniconfig
msgpack
msgpack-python
packaging
pillow
pip
pluggy
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pytest
pytest-django
python-dotenv
redis
service-identity
setuptools
six
sqlparse
tblib
twisted
txaio
typing-extensions
urllib3
uuid
uvicorn
uvicorn-worker
websockets
wheel
whitenoise
zope-interface