asgiref
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
iniconfig
packaging
pillow
pip
pluggy
psycopg2-binary
pygments
pyjwt
pytest
pytest-django
python-dotenv
setuptools
sqlparse
tblib
uuid
wheel