amqp
asgiref
async-timeout
attrs
autobahn
automat
billiard
celery
certifi
cffi
channels
channels-redis
click
click-didyoumean
click-plugins
click-repl
cloudinary
constantly
cryptography
daphne
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
h11
hyperlink
idna
incremental
iniconfig
kombu
msgpack
msgpack-python
packaging
pillow
pip
pluggy
prompt-toolkit
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pytest
pytest-django
python-dateutil
python-dotenv
redis
service-identity
setuptools
six
sqlparse
tblib
twisted
txaio
typing-extensions
tzdata
urllib3
uuid
uvicorn
uvicorn-worker
vine
wcwidth
websockets
wheel
whitenoise
zope-interface